/* Klasy do przycisków */
.mapbar {
background: url(/static/wybory/barbkg.png) no-repeat 0px 0px;
    float:left;
    width: 100px;
    height: 20px;
    border: solid 1px #bdbdb5;
    text-align: left;
}
.mapbar .bark1, .mapbar .bark2{
    height: 20px;
}
.mapbar2 {
background: url(/static/wybory/barbkg2.png) no-repeat 0px 0px;
    float:left;
    width: 100px;
    height: 20px;
    border: solid 1px #bdbdb5;
    text-align: left;
}
.mapbar2 .bark1, .mapbar2 .bark2{
    height: 20px;
}

div#page >div > div {
    padding:0 0 4% 0;

}

/* Ukłąd standardowej tabeli*/
div#tabela > div {
    display: table-row;
}

div#tabela > div > div {
    padding: 1% 5px 0;
    display: table-cell;
    text-align: center;
    border:1px solid #eeeee6;
}

div#tabela > div:nth-child(1) {
    background-color:  #eeeee6;
    font-weight:bold;
}

div#magłówek_tabeli {
    background-color:  #eeeee6;
    font-weight:bold;
}


/* Układ nagłówka */
div#top {
    background: url('../wybory/top.png') center top no-repeat;
    background-size:100% auto;
    position:relative;
    padding: 6% 0 0 10%;
}
div#top > div {
    display:table-cell;
    vertical-align:middle;
}
div#pkw {
    width: 20%;
}
div#tytul {
    text-align: center;
    color:#9d032a;
    width: 60%;
}
div#kbw {
    width: 20%;
}
div#stopka {
    position: relative;
    width: 90%;
    margin: 0 10%;
}

/* ukłąd stopki*/

div#stopka > div {
    display:table-cell;
    vertical-align:middle;
    width: 1%;
    padding: 0 0 0 0;
}
div#stopka a {
    text-decoration:none;
    color: #838383;
}

body {
    width: 99%;
}
/* Inne elementy*/
div#tresc {
    width: 80%;
    margin: 0 15%;
}

div#wyniki_ogolne_gura >div >div {
    display:table-cell;
    padding: 20px 10px 0;
}

div#wyniki_ogolne > div {
    display:table-cell;
    padding: 0px 5px 0;
}


/*
.container {
  position: absolute;
}
.centered-element_ {
  width: 80%;
  position: relative;
    left: 20%;
}

div#mapa_ {
    width: 40%;
  position: relative;
  left: 20%;
  transform: translate(-30%);
}

div#mapa_tab_kolorów_ {
    width: 100%;
  position: relative;
  left: 100%;
  transform: translate(-80%);
}
div#wyniki_ogolne_gura_ {
    width: 40%;
  position: relative;
  left: -10%;
  transform: translate(+30%);
} */


/* Szegułowe ustalenia*/
h3 {
    text-align: left;
}

div#wyniki_ogolne_gura h3 h4 {
    text-align: center;
}

div#frekwencja h5 {
    text-align: center;
}